<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="UserRightContext"
 connectionString="metadata=res://*/UserRight.csdl|res://*/UserRight.ssdl|res://*/UserRight.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SJLFramework;Integrated Security=True;MultipleActiveResultSets=True&quot;"
 providerName="System.Data.EntityClient"/>
    <add name ="dataHC" connectionString="Data Source=(local);Initial Catalog=renli;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
    <pages styleSheetTheme="default" enableEventValidation="false" clientIDMode="AutoID">
    </pages>
  </system.web>
  <system.webServer>

    <modules>
      <add name="CheckUserModule" type="SJL.Web.HttpCode.CheckUserModule"/>
    </modules>
  </system.webServer>
 
</configuration>


